NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

DB_HOST=sql7.freesqldatabase.com
DB_PORT=3306
DB_USER=sql7836640
DB_PASSWORD=daSV7eWufD
DB_NAME=sql7836640

JWT_SECRET=replace-with-a-long-development-secret
JWT_EXPIRES_IN=7d
CLOUD_NAME=your-cloudinary-cloud-name
CLOUD_KEY=your-cloudinary-api-key
CLOUD_SECRET=your-cloudinary-api-secret
